body {
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  color: #2C3E50;
}

h2 {
  color: #1ABC9C;
}

.navbar {
  background-color: #34495E !important;
}

.navbar a {
  color: white !important;
}
